<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<a href="/" id="home">Home</a>

		<h1 id="notfound">The game you were searching for was not found</h1>
		<h2 style="text-align: center;">Maybe try another one?</h2>

		<br>

		<div id="random">
			<a href="random" id="rand-button">Random Game</a>
		</div>
	</body>
</html>
